<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mis Compras - El hogar de Sensei</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />
  </head>

  <body>
    <div class="header">
      <a href="\Vistas\home-1.html" class="back-arrow">←</a>
      <div class="header-title">HISTORIAL</div>
    </div>
    <div class="content">
      <p>No tienes ningún pedido o servicio activo</p>
    </div>

    <!-- Navigation bar (footer) -->
    <ul class="nav-bar">
      <li>
        <a href="{{ url_for('home_1') }}"
          ><img
            src="{{ url_for('static', filename='src/logo.png') }}"
            class="Inicio"
          />Inicio</a
        >
      </li>
      <li>
        <a href="{{ url_for('miscompras') }}"
          ><img src="{{ url_for('static', filename='src/compras.png') }}" /> Mis
          Compras</a
        >
      </li>
      <li>
        <a href="{{ url_for('promociones') }}"
          ><img src="{{ url_for('static', filename='src/descuento.png') }}" />
          Promociones</a
        >
      </li>
      <li>
        <a href="{{ url_for('membresia') }}"
          ><img src="{{ url_for('static', filename='src/membresia.png') }}" />
          Membresía</a
        >
      </li>
      <li>
        <a href="{{ url_for('cuenta') }}"
          ><img src="{{ url_for('static', filename='src/cuenta.png') }}" />
          Cuenta</a
        >
      </li>
    </ul>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
  </body>
</html>
