body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Para evitar barras de desplazamiento */
}

#app {
    width: 360px;
    height: 640px;
    background-color: black;
    /* Estilos adicionales según necesidades de diseño */
}

header {
    color: black;
    height: 60;
    border-bottom: 20px;
}