<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alimento - El hogar de Sensei</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css')}}"
    />
  </head>

  <body>
    <div class="header-home">
      <div class="logo-slogan">
        <img
          src="{{ url_for('static', filename='src/logo.png') }}"
          class="logo"
        />
        <div>
          <span class="nombre">El hogar de Sensei</span>
          <span class="slogan">Nutrición y Salud</span>
        </div>
      </div>
      <div class="search-box">
        <input
          type="text"
          class="search-input"
          placeholder="¿Qué Producto Buscas?"
        />
        <button class="cart-button">
          <img
            class="carrito-img"
            src="{{ url_for('static', filename='src/carrito.png') }}"
            alt="Carrito"
          />
        </button>
      </div>
    </div>
    <h2 class="Subtitulo">Catálogo Alimentos</h2>
    <div class="list-container">
      <ul class="brand-list">
        <div id="A-group" class="brand-group">
          <h2>A</h2>
          <a href="#" class="brand-item"> AGILITY GOLD</a>
          <a href="#" class="brand-item"> ANOTHER BRAND A</a>
        </div>
        <div id="B-group" class="brand-group">
          <h2>B</h2>

          <a href="#" class="brand-item"> B</a>

          <a href="#" class="brand-item"> ANOTHER BRAND B</a>
        </div>
        <div id="C-group" class="brand-group">
          <h2>C</h2>

          <a href="#" class="brand-item"> CHUNKY</a>

          <a href="#" class="brand-item"> ANOTHER BRAND C</a>
        </div>
        <div id="D-group" class="brand-group">
          <h2>D</h2>

          <a href="#" class="brand-item"> D</a>

          <a href="#" class="brand-item"> ANOTHER BRAND D</a>
        </div>
        <div id="E-group" class="brand-group">
          <h2>E</h2>

          <a href="#" class="brand-item"> E</a>

          <a href="#" class="brand-item"> ANOTHER BRAND E</a>
        </div>
        <div id="F-group" class="brand-group">
          <h2>F</h2>

          <a href="#" class="brand-item"> F</a>

          <a href="#" class="brand-item"> ANOTHER BRAND F</a>
        </div>
        <div id="G-group" class="brand-group">
          <h2>G</h2>

          <a href="#" class="brand-item"> G</a>

          <a href="#" class="brand-item"> ANOTHER BRAND G</a>
        </div>
        <div id="H-group" class="brand-group">
          <h2>H</h2>

          <a href="#" class="brand-item"> H</a>

          <a href="#" class="brand-item"> ANOTHER BRAND H</a>
        </div>
        <div id="I-group" class="brand-group">
          <h2>I</h2>

          <a href="#" class="brand-item"> I</a>

          <a href="#" class="brand-item"> ANOTHER BRAND I</a>
        </div>
        <div id="J-group" class="brand-group">
          <h2>J</h2>

          <a href="#" class="brand-item"> J</a>

          <a href="#" class="brand-item"> ANOTHER BRAND J</a>
        </div>
        <div id="K-group" class="brand-group">
          <h2>K</h2>

          <a href="#" class="brand-item"> K</a>

          <a href="#" class="brand-item"> ANOTHER BRAND K</a>
        </div>
        <div id="L-group" class="brand-group">
          <h2>L</h2>

          <a href="#" class="brand-item"> L</a>

          <a href="#" class="brand-item"> ANOTHER BRAND L</a>
        </div>
        <div id="M-group" class="brand-group">
          <h2>M</h2>

          <a href="#" class="brand-item"> M</a>

          <a href="#" class="brand-item"> ANOTHER BRAND M</a>
        </div>
        <div id="N-group" class="brand-group">
          <h2>N</h2>

          <a href="#" class="brand-item"> N</a>

          <a href="#" class="brand-item"> ANOTHER BRAND N</a>
        </div>
        <div id="O-group" class="brand-group">
          <h2>O</h2>

          <a href="#" class="brand-item"> O</a>

          <a href="#" class="brand-item"> ANOTHER BRAND O</a>
        </div>
        <div id="P-group" class="brand-group">
          <h2>P</h2>

          <a href="#" class="brand-item"> P</a>

          <a href="#" class="brand-item"> ANOTHER BRAND P</a>
        </div>
        <div id="Q-group" class="brand-group">
          <h2>Q</h2>

          <a href="#" class="brand-item"> Q</a>

          <a href="#" class="brand-item"> ANOTHER BRAND Q</a>
        </div>
        <div id="R-group" class="brand-group">
          <h2>R</h2>

          <a href="#" class="brand-item"> R</a>

          <a href="#" class="brand-item"> ANOTHER BRAND R</a>
        </div>
        <div id="S-group" class="brand-group">
          <h2>S</h2>

          <a href="#" class="brand-item"> S</a>

          <a href="#" class="brand-item"> ANOTHER BRAND S</a>
        </div>
        <div id="T-group" class="brand-group">
          <h2>T</h2>

          <a href="#" class="brand-item"> T</a>

          <a href="#" class="brand-item"> ANOTHER BRAND T</a>
        </div>
        <div id="U-group" class="brand-group">
          <h2>U</h2>

          <a href="#" class="brand-item"> U</a>

          <a href="#" class="brand-item"> ANOTHER BRAND U</a>
        </div>
        <div id="V-group" class="brand-group">
          <h2>V</h2>

          <a href="#" class="brand-item"> V</a>

          <a href="#" class="brand-item"> ANOTHER BRAND V</a>
        </div>
        <div id="W-group" class="brand-group">
          <h2>W</h2>

          <a href="#" class="brand-item"> W</a>

          <a href="#" class="brand-item"> ANOTHER BRAND W</a>
        </div>
        <div id="X-group" class="brand-group">
          <h2>X</h2>

          <a href="#" class="brand-item"> X</a>

          <a href="#" class="brand-item"> ANOTHER BRAND X</a>
        </div>
        <div id="Y-group" class="brand-group">
          <h2>Y</h2>

          <a href="#" class="brand-item"> Y</a>

          <a href="#" class="brand-item"> ANOTHER BRAND Y</a>
        </div>
        <div id="Z-group" class="brand-group">
          <h2>Z</h2>

          <a href="#" class="brand-item"> Z</a>

          <a href="#" class="brand-item"> ANOTHER BRAND Z</a>
        </div>

        <!-- Add as many list items as needed -->
      </ul>
      <div class="alphabet-list">
        <button onclick="scrollToGroup('A-group')">A</button>
        <button onclick="scrollToGroup('B-group')">B</button>
        <button onclick="scrollToGroup('C-group')">C</button>
        <button onclick="scrollToGroup('D-group')">D</button>
        <button onclick="scrollToGroup('E-group')">E</button>
        <button onclick="scrollToGroup('F-group')">F</button>
        <button onclick="scrollToGroup('G-group')">G</button>
        <button onclick="scrollToGroup('H-group')">H</button>
        <button onclick="scrollToGroup('I-group')">I</button>
        <button onclick="scrollToGroup('J-group')">J</button>
        <button onclick="scrollToGroup('K-group')">K</button>
        <button onclick="scrollToGroup('L-group')">L</button>
        <button onclick="scrollToGroup('M-group')">M</button>
        <button onclick="scrollToGroup('N-group')">N</button>
        <button onclick="scrollToGroup('O-group')">O</button>
        <button onclick="scrollToGroup('P-group')">P</button>
        <button onclick="scrollToGroup('Q-group')">Q</button>
        <button onclick="scrollToGroup('R-group')">R</button>
        <button onclick="scrollToGroup('S-group')">S</button>
        <button onclick="scrollToGroup('T-group')">T</button>
        <button onclick="scrollToGroup('U-group')">U</button>
        <button onclick="scrollToGroup('V-group')">V</button>
        <button onclick="scrollToGroup('W-group')">W</button>
        <button onclick="scrollToGroup('X-group')">X</button>
        <button onclick="scrollToGroup('Y-group')">Y</button>
        <button onclick="scrollToGroup('Z-group')">Z</button>
        <!-- Add all alphabet letters -->
      </div>
    </div>

    <!-- Navigation bar (footer) -->
    <ul class="nav-bar">
      <li>
        <a href="{{ url_for('home_1') }}"
          ><img
            src="{{ url_for('static', filename='src/logo.png') }}"
            class="Inicio"
          />Inicio</a
        >
      </li>
      <li>
        <a href="{{ url_for('miscompras') }}"
          ><img src="{{ url_for('static', filename='src/compras.png') }}" /> Mis
          Compras</a
        >
      </li>
      <li>
        <a href="{{ url_for('promociones') }}"
          ><img src="{{ url_for('static', filename='src/descuento.png') }}" />
          Promociones</a
        >
      </li>
      <li>
        <a href="{{ url_for('membresia') }}"
          ><img src="{{ url_for('static', filename='src/membresia.png') }}" />
          Membresía</a
        >
      </li>
      <li>
        <a href="{{ url_for('cuenta') }}"
          ><img src="{{ url_for('static', filename='src/cuenta.png') }}" />
          Cuenta</a
        >
      </li>
    </ul>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
  </body>
</html>
