<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - El hogar de Sensei</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />
  </head>

  <body>
    <div class="header-home">
      <div class="logo-slogan">
        <img
          src="{{ url_for('static', filename='src/logo.png') }}"
          class="logo"
        />
        <div>
          <span class="nombre">El hogar de Sensei</span>
          <span class="slogan">Nutrición y Salud</span>
        </div>
      </div>
      <div class="search-box">
        <input
          type="text"
          class="search-input"
          placeholder="¿Qué necesita tu mascota?"
        />
        <button class="cart-button">
          <img
            class="carrito-img"
            src="{{ url_for('static', filename='src/carrito.png') }}"
            alt="Carrito"
          />
        </button>
      </div>
    </div>

    <a class="categoria-perro">Categorías</a>
    <div class="category">
      <div class="category-item">
        <a href="{{ url_for('alimento') }}" class="category-link">
          <img
            src="{{ url_for('static', filename='src/Alimento.png') }}"
            alt="Alimento"
          />
          <p>Alimento</p>
        </a>
      </div>
      <div class="category-item">
        <a href="{{ url_for('snacks') }}" class="category-link">
          <img
            src="{{ url_for('static', filename='src/Snack.png') }}"
            alt="Snacks"
          />
          <p>Snacks</p>
        </a>
      </div>
      <div class="category-item">
        <a href="{{ url_for('farmapet') }}" class="category-link">
          <img
            src="{{ url_for('static', filename='src/Farmapet.png') }}"
            alt="FarmaPet"
          />
          <p>FarmaPet</p>
        </a>
      </div>
      <div class="category-item">
        <a href="{{ url_for('cuidado') }}" class="category-link">
          <img
            src="{{ url_for('static', filename='src/Cuidado e higiene.png') }}"
            alt="Cuidado e Higiene"
          />
          <p>Cuidado</p>
          <p>e Higiene</p>
        </a>
      </div>
    </div>
    <a class="categoria-servicios">Servicios</a>
    <div class="category">
      <div class="category-item">
        <a href="" class="category-link">
          <img src="{{ url_for('static', filename='src/Veterinaria.png') }}" />
          <p>Veterinaria</p>
        </a>
      </div>
      <div class="category-item">
        <a href="" class="category-link">
          <img src="{{ url_for('static', filename='src/Peluqueria.png') }}" />
          <p>Peluquería</p>
        </a>
      </div>
      <div class="category-item">
        <a href="" class="category-link">
          <img src="{{ url_for('static', filename='src/Guarderia.png') }}" />
          <p>Guardería</p>
        </a>
      </div>
      <div class="category-item">
        <a href="" class="category-link">
          <img src="{{ url_for('static', filename='src/Paseador.png') }}" />
          <p>Paseador</p>
        </a>
      </div>
      <div class="category-item">
        <a href="" class="category-link">
          <img src="{{ url_for('static', filename='src/Entrenador.png') }}" />
          <p>Entrenador</p>
        </a>
      </div>
    </div>
    <button class="arrow-down">←</button>
    <ul class="nav-bar">
      <li>
        <a href="{{ url_for('home_1') }}"
          ><img
            src="{{ url_for('static', filename='src/logo.png') }}"
            class="Inicio"
          />Inicio</a
        >
      </li>
      <li>
        <a href="{{ url_for('miscompras') }}"
          ><img src="{{ url_for('static', filename='src/compras.png') }}" /> Mis
          Compras</a
        >
      </li>
      <li>
        <a href="{{ url_for('promociones') }}"
          ><img src="{{ url_for('static', filename='src/descuento.png') }}" />
          Promociones</a
        >
      </li>
      <li>
        <a href="{{ url_for('membresia') }}"
          ><img src="{{ url_for('static', filename='src/membresia.png') }}" />
          Membresía</a
        >
      </li>
      <li>
        <a href="{{ url_for('cuenta') }}"
          ><img src="{{ url_for('static', filename='src/cuenta.png') }}" />
          Cuenta</a
        >
      </li>
    </ul>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
  </body>
</html>
