<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alimento - El hogar de Sensei</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css')}}"
    />
  </head>

  <body>
    <div class="header-home">
      <div class="logo-slogan">
        <img
          src="{{ url_for('static', filename='src/logo.png') }}"
          class="logo"
        />
        <div>
          <span class="nombre">El hogar de Sensei</span>
          <span class="slogan">Nutrición y Salud</span>
        </div>
      </div>
      <div class="search-box">
        <input
          type="text"
          class="search-input"
          placeholder="¿Qué Producto Buscas?"
        />
        <button class="cart-button">
          <img
            class="carrito-img"
            src="{{ url_for('static', filename='src/carrito.png') }}"
            alt="Carrito"
          />
        </button>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Productos Agility Gold</button>
      <div class="dropdown-content">
        {% for product in products %}
        <a
          href="#"
          onclick="loadProductDetails('{{ product.codigo_producto }}');"
          >{{ product.descripcion }}</a
        >
        {% endfor %}
      </div>
    </div>

    <div class="product-info">
      <div class="descripcion">
        Descripción: <span id="descripcion">Seleccione un producto</span>
      </div>
      <div class="codigo-barra">
        Código de Barra: <span id="codigo-barra"></span>
      </div>
      <div class="codigo-producto">
        Código de Producto: <span id="codigo-producto"></span>
      </div>
      <div class="precio-express">
        Precio: <span id="precio-express"></span>
      </div>
    </div>

    <!-- Navigation bar (footer) -->
    <ul class="nav-bar">
      <li>
        <a href="{{ url_for('home_1') }}"
          ><img
            src="{{ url_for('static', filename='src/logo.png') }}"
            class="Inicio"
          />Inicio</a
        >
      </li>
      <li>
        <a href="{{ url_for('miscompras') }}"
          ><img src="{{ url_for('static', filename='src/compras.png') }}" /> Mis
          Compras</a
        >
      </li>
      <li>
        <a href="{{ url_for('promociones') }}"
          ><img src="{{ url_for('static', filename='src/descuento.png') }}" />
          Promociones</a
        >
      </li>
      <li>
        <a href="{{ url_for('membresia') }}"
          ><img src="{{ url_for('static', filename='src/membresia.png') }}" />
          Membresía</a
        >
      </li>
      <li>
        <a href="{{ url_for('cuenta') }}"
          ><img src="{{ url_for('static', filename='src/cuenta.png') }}" />
          Cuenta</a
        >
      </li>
    </ul>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
  </body>
</html>
